.black{
    background-color: var(--dark-gray);
    color: var(--blue-dark);
    height: 100%;
    width: 100%;
}

.white{
    background-color: var(--background);
    color: var(--text);
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    max-width:  992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}